/****************************************************************
	-- Table of contents --

	Broad range
		Everything
		Header
		General Pages
		Forms	
	
	Individual pages
		Index
		Contacts Table
		Conversations

	-- Colors --
	Body Background: #dbdbdb (light grey)
	warning: #ffea4c;
	error: #ff3535;
	messsage: #42c5f4;

****************************************************************/


/**************************************************
	Everything 

	Manually setting the padding/margin because not all browsers act the same way by default.
	Webdev is marvelous
*/
* {
	padding: 0px;
	margin: 0px;
	font-family: "Arial", sans-serif;
}



/**************************************************
	Header

	This is the banner of the website that would appear on all pages
*/
#banner {
	border-bottom: 2px solid black;
	padding: 0% 1% 0.3%;
}

#bannerLogo {
	color: black;

	font-family: "Courier";
}

#logo_voip {
	font-size: 2em;
	font-weight: bold;
}

#logo_sms {
	font-size: 1.5em;
}

/**************************************************
	General pages

	These are elements that will appear in most pages.
*/
body {
	background-color: #dbdbdb;
}

/* Warnings, errors, and messages */
div.warning,div.error,div.message,div.information{
	padding: 1% 2%;
	margin: 1%;
	
	border: 1px dashed black;
	border-radius: 5px;
}

.warning {
	background-color: #ffea4c;
}

.error {
	background-color: #ff3535;
}

.message {
	background-color: #42c5f4;
}

span.warning,span.error,span.message,span.information{
	margin-left: 1%;
	border: 1px dashed black;
	border-radius: 5px;
}

/**************************************************
	Forms	

	Based stack overflow: http://stackoverflow.com/questions/13204002/align-form-elements-in-css
*/
div.formWrapper{
	width: 96%;
	margin: 1%;
	padding: 1%;
	background-color: #98ff59;
	
	border: 1px dashed black;
	border-radius: 5px;
}

.formWrapper>form>h3,.formWrapper>form>h4,.formWrapper>form>p {
	display: block;
	width: 100%;
}

.formWrapper>form>h4 {
	margin-top: 1%;
}

div.formWrapper>form>* {
	display: inline-block;
}

label {
	width: 20%;
	text-align: right;
}

label + input, label + select, label + textarea {
	margin: 0 60% 0 1%;
}

/* Submit buttons in the form */
div.formWrapper>form>input[type='submit'] {
	display: block;
}

div#formErrorMessage {

}

.formError {
	border: 1px solid red;
}

/**************************************************
	Index
*/
div.information {
	background-color: #a8ffbf;
}

div.information > p {
	margin-bottom: 1%;
}

div.information > ul {
	margin-left: 2%;
	margin-bottom: 1%;
}



/**************************************************
	Contacts table

	This is the Jquery Datatable that will store the user's contacts list
*/
table#contacts {
	width: 100%;
}


/**************************************************
	Contacts Pane

	This is the lil pane that shows up on sms.php to allow the user to...
		- Change their active DID
		- Message a new number (sms.php?target=___)
		- Search for a contact
*/
#contactPane {
	margin: 1%;
	padding: 1%;
	
	border: 1px dashed black;
	border-radius: 5px;
	background-color: #98ff59;
}

#contactPane {
	margin: 1%;
	padding: 1%;
	
	border: 1px dashed black;
	border-radius: 5px;
	background-color: #98ff59;
}

#didSelection>form>select {
	display: inline-block;
	width: 20%;
	margin-right: 0.3%;
}

#contactPane>form>input:first-of-type {
	display: inline-block;
	width: 20%;
	margin-right: 0.3%;
}

#contactPane>h3~h3 {
	padding-top: 1%;
}


/**************************************************
	Conversations

	This is the actual SMS conversation, and bulk SMS conversation related
*/
/* -- Messages -- */
div#conversation {
	width: 98%;
	margin: 1%;

	/* This fixes an issue with messages overflowing over the sendSMS div */
	overflow-y: hidden; 
	display: block;
}

div.sms {
	width: 80%;
}

div.sms.recieved {
	float: left;
}

div.sms.sent {
	float: right;
}

div.smsPayload {
	border: 1px solid black;	
	padding: 0.3%;
}

div.sms.recieved > .smsPayload {
	background-color: #77f442;	
}

div.sms.sent > .smsPayload {
	background-color: #41c3f2;	
}

div#sendSMS {

}

textarea#sendSMS {
	width: 100%;
}
