/**************************************************
	Everything 

	Manually setting the padding/margin because not all browsers act the same way by default
*/
* {
	padding: 0px;
	margin: 0px;
}

/**************************************************
	Header

	This is the banner of the website that would appear on all pages
*/
#banner {
	border-bottom: 2px solid black;
}

/**************************************************
	General pages

	These are elements that will appear in most pages.
*/
div.warning {
	border: 1% solid yellow;	
	background-color: yellow;
}

div.error {
	border: 1% solid red;	
	background-color: red;
}

/**************************************************
	Contacts table

	This is the Jquery Datatable that will store the user's contacts list
*/
table#contacts {
	width: 100%;
}


/**************************************************
	Conversations

	This is the actual SMS conversation, and bulk SMS conversation related
*/
/* -- Messages -- */
div.message {
	width: 80%;
}

div.message.recieved {
	float: left;
}

div.message.sent {
	float: right;
}

div.messagePayload {
	border: 1px solid black;	
}

div.message.recieved > .messagePayload {
	background-color: green;	
}

div.message.sent > .messagePayload {
	background-color: blue;	
}
